.day.prev-month {
  color: #ccc; /* 이전 달의 날짜를 회색으로 표시 */
}
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  border-bottom: 1px solid #ccc;
}

.before,
.after {
  background-color: #fff; /* 버튼 배경색 */
  color: black; /* 텍스트 색상 */
  border: none;
  padding: 10px 20px; /* 버튼 안의 여백 설정 */
  cursor: pointer;
  transition: background-color 0.3s ease; /* 호버 효과를 위한 transition 설정 */
}

.before:hover,
.after:hover {
  background-color: #b9b8b8; /* 호버 시 배경색 변경 */
}

.h1, h1 {
  text-align: center;
}

.weekdays div {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}
/*weekdays 여기까지 방금 추가한 것*/
body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.weekdays,
.calendar {
  margin: 0 auto; /* 화면 가운데 정렬을 위해 추가 */
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 400px;
  border-bottom: 1px solid #ccc;
  text-align: center; /* 내용을 가운데 정렬하기 위해 추가 */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #ccc;
  width: 400px;
  margin-top: 10px;
  text-align: center; /* 내용을 가운데 정렬하기 위해 추가 */
}

.month {
  font-size: 25px;
  padding-bottom: 12px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
#memo {
  width: 100%;
  min-height: 50px;
  resize: vertical; /* 사용자가 수직으로 크기를 조절할 수 있도록 합니다. */
}
.note {
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 40%;
  margin: 10px auto;
  text-align: center;
}
#memoBtn {
  margin-top: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}